body{
   background-color: rgba(227,243,223,255);
}
.navbar-wrapper {
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}