.navbar-wrapper{
    background-color: rgba(66,176,41,255);
    height: 80px;
    width: 100%;
    margin: 0;

    .logo-container {
        height: 100%;

        img {
            width: 78%; 
            height: 135%; 
            border-radius: 10px;
            margin-left: 31px;
            padding-bottom: 3px;
             
        }
    }

    @media screen and (max-width: 700px) {
        .logo-container img {
            width: 78%; 
            height: 135%; 
            border-radius: 10px;
            margin-left: 31px;
            padding-bottom: 5px;
             
        }

    }

    .right-column{
        display: flex;
        justify-content: space-between;
        padding-right: 50px ;
        align-items: center;

        .auth-container {
            padding-right: 70px;
        }
    }


    .cart-icon a, .auth-container a {
        color: #fbfafa;
        font-size: 20px;
        border: 2px solid transparent;
        border-radius: 15px;
        padding: 10px 20px;
        white-space: nowrap;
        text-decoration: none;
        transition: box-shadow 0.3s;
    }

    .auth-container a:hover {
        color: rgb(224, 222, 222);
      }

    .cart-icon {
        font-size: 25px;
        color:#fbfafa;
        transition: transform 0.7s;
        text-decoration: none;
    }

    .cart-icon:hover {
        color:black;
        transform: rotate(360deg);
        border-radius: 15px;
    
    }
    
}